/* Your custom styles */

.nav-link, .navbar-brand{padding: 0px 20px 0 0px!important; margin:0px;}
.margin-left-100{margin-left: 0px;}
.navIcons{font-size: 25px; padding:10px 0px 0 0;}
.alignCenter{text-align: center; color: #6699CC; line-height: 30px;}
.navbar {margin: 0px 0 20px 0px;}
.error{color: red; display: inline-block;}
.infoIcon{margin-right: 10px; color:#6699CC; font-weight: normal;}
.endTimeSelect{ padding: 5px 10px;}
.navbar-brand{margin: 10px 0;}
.card-header h5{margin-bottom:0px; font-size: 18px;}